
<form id="form">
    <label id="Employeename">Name</label>
    <input type="text" id="Employeename" name="EmpName" [(ngModel)]="newSaleEmployee.saleEmp_name" >

    <label id="Employeesurname">Number</label>
    <input type="text" id="Employeesurname" name="EmployeeSurname" [(ngModel)]="newSaleEmployee.saleEmp_surname">
    
    <label id="Employeeposition">Position</label>
    <input type="text" id="Employeeposition" name="EmployeePos" [(ngModel)]="newSaleEmployee.saleEmp_pos">
    <button type="submit" (click)="addSaleEmp()">Insert</button>
</form>

<form id="form">
    <label id="EmployeeID">ID</label>
    <input type="text" id="EmployeeID" name="EmpID" [(ngModel)]="editSaleEmployee.saleEmp_ID">
    
    <label id="Employeename">Name</label>
    <input type="text" id="Employeename" name="Name" [(ngModel)]="editSaleEmployee.saleEmp_name">
    
    <label id="Employeesurname">Number</label>
    <input type="text" id="Employeesurname" name="Surname" [(ngModel)]="editSaleEmployee.saleEmp_surname">
    
    <label id="Employeeposition">Position</label>
    <input type="text" id="Employeeposition" name="pos" [(ngModel)]="editSaleEmployee.saleEmp_pos" >
    <button type="submit" (click)="updateSaleEmp()">Edit</button>
</form>

<form id="form">
    <label id="EmployeeID">ID</label>
    <input type="text"id="ID" name="ID" [(ngModel)]="ID">
    <button type="submit" (click)="deleteSaleEmp()">Delete</button>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element">{{element.saleEmp_ID}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{element.saleEmp_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Surname">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.saleEmp_surname}} </td>
    </ng-container>

    <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.saleEmp_pos}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  