<header>
  <div>
      <mat-card-title>Sales</mat-card-title>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <a href="#" routerLink="/customer" mat-menu-item>Customer</a>
        <a href="#" routerLink="/product-type"  mat-menu-item>Product Type</a>
        <a href="#" routerLink="/product"  mat-menu-item>Product </a>
        <a href="#" routerLink="/salesemployee"  mat-menu-item>Sales Employee</a>
        <a href="#" routerLink="/employeetype"  mat-menu-item>Employee Type</a>
        </mat-menu>
  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>

